# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
max_line_length = 131
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
# Set default indent style to 'space' and size to '2'
[*.{yml,yaml,Dockerfile}]
indent_style = space
indent_size = 2

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Markdown files (e.g., README.md)
[*.md]
trim_trailing_whitespace = false